.metadata-editor {
    width: calc(~"100% - @{margin} * 2");
    height: 100%;
    overflow-y: auto;
    margin: auto;
    border: 1px solid @grey;
    padding: @margin;


    * {box-sizing: border-box;}

    h1 {
        margin-bottom: @margin * 2;
    }

    // .sheet-title {
    //     font-weight: 100;
    //     font-size: 1.2em;
    //     padding: 0 0 @margin 0;
    // }

    .metadata-label {
        margin-bottom: @margin / 2;
        font-size: 0.8rem;
        .label {
            font-weight: 100;
            text-transform: uppercase;
            &:after {
                content: " : "
            }
        }
        .value {}
        .point-of-contact > * {display: block;}
    }

    .meta-wrapper {
        .flex(@justify: flex-start, @align:flex-start);
        margin-top: @margin;

        .meta-edit {
            .flex(@wrap:nowrap, @align:flex-start, @justify:initial);
            .widgetBackground;
            padding: @margin 0 @margin * 2 0;
            width: calc(~"70vw - 2 * @{margin}");

            > div {flex: 1;}
        }

        .meta-fr,
        .meta-nl,
        .meta-common,
        .meta-action {
            padding: 0 @margin * 2;

            * {
                display: block;
                width: 100%;
            }

            .app-col-header {
                font-size: 0.8em;
                text-align: center;
            }

            .app-col-main {
                min-height: 200px;
            }

            input {
                margin-bottom: @margin;
            }

            textarea {
                resize: vertical;
                height: 200px;
                margin-bottom: 0;
            }
        }

        .meta-fr,
        .meta-nl {
            border-right: 1px solid #000;
        }

        .meta-action {
            width: calc(~"30vw - 3 * @{margin}");
            padding-left: @margin;

            .btn-validate,
            .btn-table {
                .high-btn;
                font-size: 18px!important;
                width: 100%;
            }
        }
    }
}
