.metadata-editor .meta-common {
    box-sizing: border-box;
    .app-col-main {
        // max-height: 100% !important;
        // position: relative;
        // overflow: hidden;
    }

    .label {
        .labelStyle;
        text-align: center;
        font-size: 1rem;
        margin: @margin 0;
        height: 35px;
    }

    .keywords-wrapper .label {
        margin-top: 0;
    }

    .keywords-wrapper,
    .topics-wrapper  {
        height: calc(~"100% - @{margin}");
        overflow: auto;

        .infinite-table {
        height: 100%;
        }
    }

}
