
body[lang="fr"] .be-name {background-image: url(imgs/be-header-iris-fr.png);}
body[lang="nl"] .be-name {background-image: url(imgs/be-header-iris-nl.png);}


.header {
    .flex(center, initial, initial);
    padding: 0 @margin;
    font-size: 80%;

    .be-logo {
        > div {
            height: 17px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }
        .be-tree {
            width: 17px;
            background-image: url(imgs/be-tree.png);
            margin-right: 5px;
        }
        .be-name {
            width: 350px;
        }
    }

    > div {
        .flex(center, initial, initial);
        height: @headerH;
    }

    .app-title {
        font-weight: @bold;
        font-size: 150%;
        // position: relative;
    }

    .dashboard-link-wrapper,
    .app-listview {
        .absolute(initial, @panel-rightW, initial, initial);
        .dashboard-link {
            margin-left: @margin;
        }

    }

    .app-listview {
        .interactive;
        padding-right: @margin;

        &:after {
        .awsomefont;
        content: @fa-var-table;
        margin-left: @small-margin;
        }
    }

    .header-toolbar {
        .absolute(initial, @margin, initial, initial);

        > * {
            .interactive;
            padding-right: @margin;

            &:after {
            .awsomefont;
            margin-left: @small-margin;
            }
        }

        .login:after {content: @fa-var-user;}
        .dashboard:after {content: @fa-var-dot-circle-o;}
        .lang-switch:after {content: @fa-var-globe;}
    }
}
