.footer {
    .flex(center, space-between, initial);
    padding: 4px @margin;
    font-size: 70%;
    background: #fff;

    .sdi-credits {
        color: @grey;
    }

    .ac-link {
        text-decoration: none;
        color: @grey;
        &:visited {color: @grey}
        &:hover {color: @grey}
    }
}
