// from : https://elazizi.com/a-step-by-step-guide-to-making-pure-css-tooltips


@tooltip-font-size : 12px;
@tooltip-bg-color : rgba(0,0,0,0.7);


// TOOLTIP

[data-tooltip]{
  position:relative;
  display:inline-block;
}

[data-tooltip]:hover::after,
[data-tooltip]:hover::before {
  opacity:1;
  transition: all 0.3s;
  transition-delay: 0.6s; 
}


// ARROW

[data-tooltip]::before {
    content: "";
    position: absolute;
    top:-@tooltip-font-size / 2;
    left:50%;
    transform: translateX(-50%);
    border-width: @tooltip-font-size/3 @tooltip-font-size/2 0 @tooltip-font-size/2;
    border-style: solid;
    border-color: @tooltip-bg-color transparent transparent transparent;
    z-index: 99;
    opacity:0;
}

// ARROW POSITIONNING

[data-tooltip-position='left']::before{
  left:0%;
  top:50%;
  margin-left:-@tooltip-font-size;
  transform:translatey(-50%) rotate(-90deg) 
}

[data-tooltip-position='top']::before,
[data-tooltip-position='top-left']::before,
[data-tooltip-position='top-right']::before{
  left:50%;
}

[data-tooltip-position='bottom']::before,
[data-tooltip-position='bottom-left']::before,
[data-tooltip-position='bottom-right']::before{
  top:100%;
  margin-top:8px;
  transform: translateX(-50%) translatey(-100%) rotate(-180deg)
}

[data-tooltip-position='right']::before{
  left:100%;
  top:50%;
  margin-left:1px;
  transform:translatey(-50%) rotate(90deg)
}


// CONTENT

[data-tooltip]::after {
    content: attr(data-tooltip);
    font-family: @gui-font;
    font-size: @tooltip-font-size;
    position: absolute;
    left:50%;
    top:-@tooltip-font-size/2;
    transform: translateX(-50%) translateY(-100%);
    background: @tooltip-bg-color;
    text-align: center;
    color: #fff;
    min-width: 80px;
    border-radius: 5px;
    pointer-events: none;
    padding: @tooltip-font-size / 3;
    z-index:99;
    opacity:0;
}


// CONTENT POSITIONNING

[data-tooltip-position='left']::after{
  left:0%;
  top:50%;
  margin-left:-@tooltip-font-size/3*2;
  transform: translateX(-100%) translateY(-50%);
}

[data-tooltip-position='top']::after{
  left:50%;
}

[data-tooltip-position='bottom']::after{
  top:100%;
  margin-top:@tooltip-font-size/3*2;
  transform: translateX(-50%) translateY(0%);
}

[data-tooltip-position='right']::after{
  left:100%;
  top:50%;
  margin-left:@tooltip-font-size/3*2;
  transform: translateX(0%) translateY(-50%);
}



[data-tooltip-position='top-right']::after{
  margin-left:-@tooltip-font-size/3*4;
  transform: translateX(0%) translateY(-100%);
}

[data-tooltip-position='top-left']::after{
  margin-left:@tooltip-font-size/3*4;
  transform: translateX(-100%) translateY(-100%);
}

[data-tooltip-position='bottom-right']::after{
  top:100%;
  margin-left:-@tooltip-font-size/3*4;
  margin-top:@tooltip-font-size/3*2;
  transform: translateX(0%) translateY(0%);
}

[data-tooltip-position='bottom-left']::after{
  top:100%;
  margin-left:@tooltip-font-size/3*4;
  margin-top:@tooltip-font-size/3*2;
  transform: translateX(-100%) translateY(0%);
}