
.tools-wrapper  {
    .tool {
        padding-bottom: @big-margin;
    }
    input {
        width: 80%;
        display: block;
        margin-bottom: @margin;
    }
}


// TOOLS :  WIDGET on MAP FULL SCREEN
.tool-widget {
    .absolute (@small-margin, @small-margin, initial, initial);
    width: 150px;
    height: auto !important;
    padding: @margin;
    background: #fff;
    border: 1px solid @grey;

    > div {
        margin-bottom: @margin;
        &:last-child {margin: 0px;}
    }
}


// TOOLS : EXTRACTOR - DRILL

.map-and-extract {
    .map-and-right-sidebar;

    .extract-wrapper {
        display: flex;
        flex-direction: column;

        H1 {
            margin-bottom: 2 * @margin;
        }

        .infinite-table {
            // height: 100%;
            overflow: auto;
        }
    }

}


// TOOLS : WMS PICKER
.tool.wms-picker {
    .webservice {
        .webservice-name {
            font-weight: 100;
            margin-bottom: @small-margin;
        }
        .base-layer {
            font-size: 0.8em;
            display: flex;
            align-items: center;
            cursor: default;
            height: 20px;
            margin-left: @margin;

            &:before {
                .awsomefont;
                margin: 0 @small-margin;
                font-size: 1em;
                content: @fa-var-circle-o;
            }
            &:hover:before,
            &.active:before {
                content: @fa-var-dot-circle-o;
            }
            &.active:before {color: @green;}
            &:hover.active:before {
                content: @fa-var-circle-o;
                color:#000;
            }

        }
    }

}

// TOOLS : TRACKER
.tool.tracker {
}


// TOOLS : LOCATION
.tool.location {
    .tool-help {
        margin-bottom: @margin;
    }
}



// TOOLS : MEASURE
.tool.measure {
    .tool-body {
        display: inline-grid;

        div {
            margin-bottom: @small-margin;
        }
    }
}

// TOOLS : SHARE
.tool.share,.tool.embed {
    h3 {
        margin-bottom: @margin;
    }

    .input-label {}
    .text-copy {
        margin: @small-margin 0 @margin 0;
        border: 1px solid @grey;
        padding: @small-margin;
        max-height: 4em;
        overflow-y: auto;
    }
    span.text {
        font-family: monospace;
        color: @grey;
    }
    span.copy {
        float: right;
        color: @green;
        font-size: 0.9em;
        cursor: default;
        padding: 0 0 @small-margin @small-margin;
        .interactive-dark;
    }
}
