.map-legend {
    .word-wrap;
    padding: 0 @margin;
    overflow-y: auto;

    h2 {
        margin-top: @small-margin;
        margin-bottom: @margin;
    }

    .legend-header {
        margin-top: -2px;
    }

    .legend-main {
        padding-top: 20px;

        > div {
            padding: @margin 0;
            width: 100%;
        }

        > div:nth-child(n+2) {
            // border-top: 1px solid @green;
        }

    }

    .legend-footer {
        display: none; //TEMPORARY
        height: @leg-footerH;
        border-top: 1px dotted @grey;
        padding-top: @margin;

        .map-share {
            .interactive;
            &::before {
                .awsomefont;
                content: @fa-var-crosshairs;
                padding-right: @margin;
            }
        }
        .map-share::before {content: @fa-var-share-alt;}
    }
}
