.map-navigator {
    width: calc(~"100% - @{margin} * 2");
    height: 100%;
    overflow-y: auto;
    margin: auto;
    border: 1px solid @grey;
    padding: @margin;

    h1 {
        margin-bottom: @margin * 2;
        width: 100%;
    }

    .input-wrapper input {
        width: 66%;
        font-size: 125%;
    }

    .maps-container {
        .flex(flex-start, space-between, wrap);
        position: relative;
        margin-top: @margin;

        .map-navigator-tile {
            .transition;
            .widgetActiveBackground;
            position: relative;
            width: calc(~"25% - @{margin}");
            padding: @margin;
            padding-bottom: 0px;
            margin: @margin / 2 0 ;
            min-width: 200px;
            text-align: center;

            &:hover {background: #efefef;}

            img {
                max-width: 90%;
                margin-bottom: @small-margin;
            }

            .map-title {
                font-size: 1.6em;
                font-weight: @extra-bold;
                margin: @margin 0;
                text-align: center;
            }

            .read-more {
                text-align: center;
                padding: @margin;
                &:after {
                    .awsomefont;
                    content: @fa-var-plus;
                }
            }
        }
    }
}
