.map-navigator {
    width: calc(~"100% - @{margin} * 2");
    height: 100%;
    overflow-y: auto;
    margin: auto;
    border: 1px solid @grey;
    padding: @margin;


    .input-wrapper {
        width: 65%;
        margin: 4rem auto;
        margin-bottom: 5rem;
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: space-around;

        input {
            width: 100%;
            margin-bottom: 0;
            border-radius: 0;
            border-top-left-radius: 2rem;
            border-bottom-left-radius: 2rem;
            border: 2px solid @light-grey;
            height: 2em;
            box-sizing: border-box;
            outline: none;
            font-weight: 100;
            background-color: @extra-light-grey;
            padding-left: 1ch;
        }

        .search-icon {
            width: auto;
            border-radius: 0;
            border-top-right-radius: 2rem;
            border-bottom-right-radius: 2rem;
            justify-content: flex-start;
            font-size: 1em;
            border: 2px solid @light-grey;
            border-left: 0px;
            height: 2em;
            box-sizing: border-box;
            background-color: #fff;
            font-size: 1em;
            padding: .4em;
            display: flex;
            align-items: center;

            .magnifier {
                // background-image: url("../../asset/svg/sunW.svg");
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                margin-right: @margin/2;
                width: 1.5em;
                height: 1.5em;
                display: inline-block;

                &:before {
                    .awsomefont;
                    content: @fa-var-search;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                }
            }
        }
    }

    .maps-container {
        .flex(flex-start, flex-start, wrap);
        position: relative;
        margin-top: @margin;

        .map-navigator-tile {
            .transition;
            .widgetActiveBackground;
            position: relative;
            width: calc(~"25% - @{margin}");
            height: 400px;
            padding: @margin;
            padding-bottom: 0px;
            margin: @margin / 2 ;
            min-width: 200px;
            text-align: center;

            &:hover {background: #efefef;}

            .map-tile-img {
                height: 180px;
                width: 100%;
            }
            img {
                max-width: 100%;
                height: auto;
                max-height: 100%;
                margin-bottom: @small-margin;
            }

            .map-title {
                .word-wrap;
                font-size: 1.6em;
                font-weight: @extra-bold;
                margin: @margin 0;
                text-align: center;
            }

            .read-more {
                text-align: center;
                padding: @margin;
                &:after {
                    .awsomefont;
                    content: @fa-var-plus;
                }
            }
        }
    }
}
