.switcher.infos {
    .awsomefont;
    .absolute(0px, @panel-rightW, initial, initial);
    z-index: 2;
    width: 25px;
    height: 25px !important;
    background-color: #fff;
    display        : flex;
    align-items    : center;
    justify-content: center;
    cursor         : default;
    border-left: 1px solid @grey;
    border-top-color: #fff;
    border-right-color: #fff;
    border-bottom-width: 0px;

    .switch-legend:before {
        width: 25px;
        height: 25px;
    }

    > div:hover:before {
        color       : @green;
    }

    .switch-legend:before {
        content: @fa-var-info;
    }

    .switch-tools:before {
        content: @fa-var-wrench;
    }
}



.switcher.basemap {
    .absolute(25px, 0px, initial, initial);
    z-index: 2;
    width  : 25px;
    height : @switchH + 2px !important;
    border-left: 1px solid @grey;
    border-bottom: 1px solid @grey;
    border-right: 1px solid #fff;
    background-color: #fff;


    .switch-background-bn {
        background: url(~"../../imgs/background-switch-bn.jpg");}
    .switch-background-ortho {
        background: url(~"../../imgs/background-switch-ortho.jpg");}


    .switch-background-bn,
    .switch-background-ortho {
        .flex(center, center, initial);
        width: 19px;
        height : 30px !important;
        cursor: default;
        background-size: cover;
        margin-left: 4px;
        margin-top: 2px;
    }
}
