.switcher {
    z-index: 2;
    width  : @switchH + 2px;
    height : @switchH + 2px !important;

    &.infos {
        .awsomefont;
        .absolute(@small-margin, calc(~ "@{panel-rightW} + @{small-margin}"), initial, initial);
    }
    &.basemap {
        .awsomefont;
        .absolute(calc(~"@{small-margin} + @{switchH} + @{small-margin} * 2"), @small-margin, initial, initial);
    }

    .switch-background-bn {
        background: url(~"../../imgs/background-switch-bn.jpg");}
    .switch-background-ortho {
        background: url(~"../../imgs/background-switch-ortho.jpg");}


    .switch-background-bn,
    .switch-background-ortho {
        .flex(center, center, initial);
        width  : @switchH + 2px;
        height : @switchH + 2px !important;
        border-radius: @switchH;
        cursor: default;
        background-size: cover;
    }


    .switch-legend:before {
        content: @fa-var-info;
    }

    .switch-tools:before {
        content: @fa-var-wrench;
    }

    .switch-legend:before,
    .switch-tools:before {
        .border1px;
        display        : flex;
        align-items    : center;
        justify-content: center;
        width          : @switchH;
        height         : @switchH;
        border-radius  : @switchH;
        background     : #fff;
        cursor         : default;
    }

    > div:hover:before {
        color       : #fff;
        background  : @green;
        border-color: @green;
    }
}
