.map-wrapper {
    background: url('../../imgs/map-trame.png') repeat;

    .map {
        height: 100%;
        width : 100%;
    }

    .tool.geocoder {
        .absolute(@small-margin, auto, auto, @small-margin);
        background-color: @white;
        border: 1px solid @grey;

        input {border: 0px;}
    }
}
