.color-hue {
    height: 16px;
    width:100%;
    background: linear-gradient(to right,
     hsl(0, 100%, 50%),
     hsl(60, 100%, 50%),
     hsl(120, 100%, 50%),
     hsl(180, 100%, 50%),
     hsl(240, 100%, 50%),
     hsl(300, 100%, 50%),
     hsl(360, 100%, 50%));
}
.color-component{
    position:relative;
    margin: 0  !important;
    height: 14px;
    width: 100%;

    .picker,  .alpha-preview {
        height: 12px;
        width: 100%;
    }

    .marker {
    height: 12px;
    width: 2px;
    border-left: 1px solid white;
    border-right: 1px solid black;
    position: absolute;
    // background-color: black;
    top: 0;
    }
}

.color-component, .color-hue{
    border: 2px solid @widget-background;

    &:hover {
        border: 2px solid white;
    }
}
.alpha-preview {
    background: url(~"../../imgs/color-bg.png") repeat;
}


.color-rgb {
    display: flex;


    span {
        flex: 3;
        display: flex;
        align-items: center;

        &:before {
            padding: 0 @small-margin;
        }

        input {
            flex: 1;
        }

        &.color-preview {
            flex: 1;
            margin-left: @small-margin;
            background: url(~"../../imgs/color-bg.png") repeat;
            .color-color{
                width: 100%;
                height: 100%;
            }
        }


        &:first-child:before {
            padding-left: 0px;
        }
    }

    .red:before {content: 'R : '}
    .green:before {content: 'G : '}
    .blue:before {content: 'B : '}
}
