//ACTIONS

.actions {
    border-top: 1px solid #000;
    justify-content: space-around;
    padding-top: 2 * @margin;
}

.action-title {
    font-size: @big-font * 0.8;
    font-weight: 700;
    color: @green;
    margin-top: @margin;
}

.actions {
    margin-top: @margin;

    > div {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: @margin * 2;

        &::before {
            .awsomefont;
            .rounded-border;
            content: " ";
            width: @roundedW;
            height: @roundedW;
            border-radius: @roundedW;
            display: flex;
            align-items: center;
            justify-content: space-around;
            font-size: @roundedW / 2;
            margin-bottom: @margin;
            background-color: @green;
            color: #fff;
        }

        // .action-info {
        //     font-size: @medium-font;
        //     margin-top: @margin / 2;
        // }

        &.action-settings::before {content: @fa-var-pencil;}
        &.action-contact::before {content: @fa-var-wrench;}
        &.action-change::before {content: @fa-var-lightbulb-o;}
        &.action-print::before {content: @fa-var-thumb-tack;}

        // .action-info .pdf {
        //     width: @roundedW;
        //     height: @roundedW;
        //     margin: @margin auto;
        //     background-image: url("../../asset/svg/pdf.svg");
        //     background-position: center;
        //     background-repeat: no-repeat;
        //     background-size: contain;
        // }
    }
}

@media @medium {
    .actions {
        display: flex;
    }
}


@media @big {
    .action-title {
        width: @illuW;
        text-align: center;
    }

    .actions {

        > div {
            width: calc(~"(@{contextW} - 2 * @{margin}) / 3 - @{margin} + 1px"); //we use an illu width based calc here
            margin: 0;
            margin-right: @margin;


            &::before {
                width: @roundedW;
                height: @roundedW;
                border-radius: @roundedW;
                font-size: @roundedW / 2;
            }

            // .action-info {
            //     font-size: @small-font;
            // }
            //
            // .action-info .pdf {
            //     width: @roundedW;
            //     height: @roundedW;
            // }

        }
    }
}
