@big-font: @gui-font-size * 1.75;
@medium-font: @gui-font-size * 1.25;
@small-font: @gui-font-size * 0.9;

@contextW : 70vw;
@sidebarW : calc(~"100vw - @{contextW} - @{margin} * 3");
@illuW : calc(~"(@{contextW} - 2 * @{margin}) / 3");
@illuW-mob : calc(~"100vw - 4 * @{margin-mob}");

@roundedW : 4.5rem;

// solar media queries

@big: ~"screen and (min-width: 600px)";

// .wrapper-illu .illu {background: pink;} //debug
// .context {background: orange;} //debug
// .sidebar {background: yellow;} //debug
// .summary {background: yellow;} //debug

.rounded-border {
    border: 1px solid #333;
}





.locate,
.preview,
.detail {
    font-weight: 100;
}

h1 {
    font-size: @big-font;
    font-weight: 100; // override GEODATA default value
}


.input-box {
    display: flex;
    // align-items: flex-end;
    align-items: center;

    input {
        width: 4em;
        font-family: inherit;
        // margin-bottom: -0.5em;
        // margin-top: 0.7em;
    }

    .input-label {
        margin-right: @margin / 2;
    }

    .unit {padding-left: 0.5ch;}
}

.input-box-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width : 8em;
    text-align: center;

    .input-and-unit {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;

        .unit {padding-left: 0.5ch;}
    }

    input {
        width: 4em;
        font-family: inherit;
        margin-bottom: @margin / 2;
    }
}

input[type="number"] {
    text-align: right;
    -moz-appearance: textfield; //remove spin buttons
    -webkit-appearance: none;
    appearance: textfield;
}



// TOGGLE

.toggle {
    .rounded-border;
    font-size: @small-font;
    display: flex;
    align-items: center;
    cursor: default;
    height: @roundedW / 2;
    border-radius: @roundedW / 2;
    background-color: @extra-light-grey;

    .value {
        border: 2px solid #000;
        background-color: #fff;
        height: calc(~"@{roundedW} / 2 - 2px");
        border-radius: @roundedW;
        display: flex;
        align-items: center;
        padding: 0 @margin;

        &:first-child {
            margin-right: @margin;
        }
    }

    .value.inactive {
        color: @light-grey;
        border: 2px solid transparent;
        background-color: transparent;
    }
}
//
// @media @big {
//     .toggle {
//         height: 2vw;
//         border-radius: 2vw;
//
//         .value {
//             height: calc(~"2vw - 2px");
//             border-radius: 2vw;
//         }
//     }
// }


// CHECKBOXES
.wrapper-multi-checkbox {
    .multi-checkbox-label {
        margin-bottom: @margin ;
    }
}

@media @big {
    .wrapper-multi-checkbox {
        display: flex;
        .multi-checkbox-label {
            margin-bottom: 0 ;
            margin-right: 0.5em;
        }
    }
}

.wrapper-checkbox {
    display: flex;
    cursor: default;
    margin-bottom: @margin / 2;

    .checkbox {
        .awsomefont;
        position: relative;
        font-size: 1em;
        width : 1em;
        height: 1em;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 0.3em;

        &:before {
            .absolute(0,0,0,0);
            content: @fa-var-circle-thin;
            width : 1em;
            height: 1em;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &:hover .checkbox:after,
    .checkbox.active:after {
        .absolute(0,0,0,0);
        content: @fa-var-circle;
        color: @green;
        font-size: 0.5em;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

// BTN RESET override

.btn-reset {
    height: @roundedW / 2;
    border-radius: @roundedW;
    border: 1px solid #333;
    background-color: @green;
    padding: 0 @margin / 2;
    display: flex;
    align-items: center;
    font-size: @gui-font-size;
    margin: @margin 0;
    &:before {
        padding: 0;
        padding-right: 5px;
        font-size: @gui-font-size;
        color: #fff;
    }
    &:hover:before {color: #fff;}
    &:hover {color: #fff;}
}




// OTHER

.content {
    border-top: 1px solid #000;
    padding-top: @margin;
}

.sidebar  {
    border-top: 1px solid #000;
    padding-top: @margin;

    & *{
        .word-wrap;
    }
}
