@big-font: @gui-font-size * 1.75;
@medium-font: @gui-font-size * 1.25;
@small-font: @gui-font-size * 0.9;

@contextW : 70vw;
@sidebarW : calc(~"100vw - @{contextW} - @{margin} * 3");
@illuW : calc(~"(@{contextW} - 2 * @{margin}) / 3");
@illuW-medium : calc(~"100vw / 3 - 2 * @{margin}");
@illuW-mob : calc(~"85vw - 4 * @{margin-mob}");

@roundedW : 4rem;
@toggleH : 3rem;

// solar media queries

@big: ~"screen and (min-width: 1023px)";
@medium: ~"screen and (min-width: 600px)";

// .wrapper-illu .illu {background: pink;} //debug
// .context {background: orange;} //debug
// .sidebar {background: yellow;} //debug
// .summary {background: yellow;} //debug

.rounded-border {
    border: 1px solid #333;
}





.locate,
.preview,
.detail {
    font-weight: 100;
}

h1 {
    font-size: @big-font;
    font-weight: 100; // override GEODATA default value
}


// INPUTS

.input-box {
    display: flex;
    // align-items: flex-end;
    align-items: center;

    input {
        width: 4em;
        font-family: inherit;
        // margin-bottom: -0.5em;
        // margin-top: 0.7em;
    }

    .input-label {
        margin-right: @margin / 2;
    }

    .unit {padding-left: 0.5ch;}
}

.input-box-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width : 8em;
    text-align: center;

    .input-and-unit {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;

        .unit {padding-left: 0.5ch;}
    }

    input {
        width: 4em;
        font-family: inherit;
    }

    .input-label {
        margin-top: @margin / 2;
    }
}

input[type="number"] {
    text-align: right;
    -moz-appearance: textfield; //remove spin buttons
    -webkit-appearance: none;
    appearance: textfield;
}



// TOGGLE

.toggle {
    .rounded-border;
    font-size: @small-font;
    display: inline-flex;
    align-items: center;
    cursor: default;
    height: @toggleH;
    border-radius: @toggleH;
    // background-color: @extra-light-grey;
    background-color: @blue;
    width: 100%;
    flex-wrap: nowrap;


    .value {
        width: calc(~"50% - @{margin} / 2");
        height: calc(~"@{toggleH} - 2px");
        background-color: @yellow;
        border: 2px solid #fff;
        border-radius: @toggleH;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        padding: 0 @margin;

        &:first-child {
            margin-right: @margin;
        }
    }

    .value.inactive {
        color: @extra-light-grey;
        border: 2px solid transparent;
        background-color: transparent;

        &:hover {
            color: @grey;
            border: 2px solid @blue;
            background:@yellow;
        }
    }
}


// CHECKBOXES

.wrapper-multi-checkbox {
    margin-bottom: @margin / 2;

    .multi-checkbox-label {
        margin-bottom: @margin ;
    }
}

@media @big {
    .wrapper-multi-checkbox {
        display: flex;
        .multi-checkbox-label {
            margin-bottom: 0 ;
            margin-right: 0.5em;
        }
    }
}

.wrapper-checkbox {
    display: flex;
    cursor: default;
    margin: 0;
    margin-right: 1em;
    margin-bottom: @margin / 2;
    &:last-child{margin: 0;}

    .checkbox {
        position: relative;
        flex-shrink: 0;
        width : 1em;
        height: 1em;
        margin-right: 0.3em;
        border: 1px solid #000;
        border-radius: 10px;

        &::before {content: ' ';} // overide SDI checkbox
    }

    &:hover .checkbox:before,
    .checkbox.active:before {
        .absolute(0,0,0,0);
        content: ' ';
        flex-shrink: 0;
        background-color: @green;
        border-radius: 10px;
        border: 3px solid #fff;
        margin: 0;
    }
}


// OTHER

.content {
    border-top: 1px solid #000;
    padding-top: @margin;
}

.sidebar  {
    border-top: 1px solid #000;
    padding-top: @margin;

    & *{
        .word-wrap;
    }
}
