.upper-part {
    .actions {
        justify-content: space-around;
        padding-top: 2 * @margin;
    }
}


.lower-part {

    .action-header{
        padding: 0;
        border-bottom: 1px solid #000;
        margin-bottom: @margin * 2;
        
        .action-title {
            font-size: @big-font * 0.8;
            font-weight: 700;
            color: @green;
            padding-top: @margin;
            margin-top: @margin;
            border-top: 1px solid #000;
        }
    }
}

@media @big {

    .main-splitted-height {
        margin: 0 @margin;
        overflow-y: auto;
        .upper-part {
            display: flex;

            .context {
                width: @contextW;
                flex-shrink: 0;
                margin-right: @margin;
                padding: @margin*2 0;
                border-top: 1px solid #000;
                border-bottom: 1px solid #000;
            }
            .summary {
                padding: @margin 0;
                width: @sidebarW;
                border-top: 1px solid #000;
                border-bottom: 1px solid #000;
            }
        }

        .lower-part {

            .actions {
                border-top: 1px solid #000;
                padding-top: @margin * 2;
            }
            .action-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                border: 0;
                padding-bottom: 0;
                margin-bottom: 0;

                .action-title {
                    width: @illuW;
                    text-align: center;
                    padding: 0;
                    margin: 0;
                    border: 0;
                }
            }
        }
    }
}
