.upper-part {
    .actions {
        justify-content: space-around;
        padding-top: 2 * @margin;
    }
}


.lower-part {

    .action-header{
        padding: @margin 0;
    }

    .action-title {
        font-size: @big-font * 0.8;
        font-weight: 700;
        color: @green;
        padding: @margin 0;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
    }

    .settings-link-wrapper {
        position: relative;
        width: 100%;
        height: @medium-font * 2;
        background: @extra-light-grey;
        border: 2px solid #333;
        border-radius: 2em;

        margin: @margin * 2 0;

        .settings-link {
                .absolute(0,0,0,0);
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 2em;
                border: 2px solid @extra-light-grey;;
                font-size: @medium-font;
                color: #000;
                text-align: center;
                cursor: default;
            }

        &:hover  { 
            background-color: @green;
            
            .settings-link {
                border: 2px solid #fff;
                background-color: @green;
            }  
        }
    }
}

@media @big {

    .main-splitted-height {
        margin: 0 @margin;
        overflow-y: auto;
        .upper-part {
            display: flex;

            .context {
                width: @contextW;
                flex-shrink: 0;
                margin-right: @margin;
                padding: @margin*2 0;
                border-top: 1px solid #000;
                border-bottom: 1px solid #000;
            }
            .summary {
                padding: @margin 0;
                width: @sidebarW;
                border-top: 1px solid #000;
                border-bottom: 1px solid #000;
            }
        }

        .lower-part {

            .actions {
                border-top: 1px solid #000;
                padding-top: @margin * 2;
            }
            .action-header {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .action-title {
                    width: @illuW;
                    text-align: center;
                    padding: 0;
                    border: 0;
                }

                 .settings-link-wrapper {
                    width: @sidebarW;
                    margin: 0;
                 }
            }
        }
    }
}
