
.summary .adress {
    display: none;
}

@media @big {
    .summary .adress {
        display: block;
    }
}



.summary {

    .potential-label {
        font-size: @big-font;
        font-weight: 700;
        color: @green;
    }

    .potential-values {
        margin-top: @margin;
        margin-bottom: @margin;
        .vk {
            font-size: @medium-font;
            margin-bottom: @margin / 2 ;
            .value {
                font-weight: 700;
                display: inline-block;
            }

            &:before {
                content: ' ';
                display: inline-block;
                width: 2em;
                height: 2em;
                background-position: bottom left;
                background-repeat: no-repeat;
                background-size: contain;
                margin-bottom: -1.2em;
            }

            &.buying-price:before {background-image: url(../../asset/svg/paper-money.svg);}
            &.green-cert:before {background-image: url(../../asset/svg/paper-green.svg);}
            &.gain-elec:before {background-image: url(../../asset/svg/paper-elec.svg);}
            &.gain-env:before {background-image: url(../../asset/svg/paper-env.svg);}

            .key {
                width: 100%;
                display: block;
                padding-left: 2em;
            }
        }
        .note {
            font-size: @small-font;
        }
    }

    .summary-area .vk {
        font-size: @small-font;
        .value {margin-right: 1ch;}
    }
}

.summary-detailled {

    .toggle {margin: @margin 0;}

    h2{
        font-size: @medium-font;
        font-weight: 700;
        margin-top: @margin;
        margin-bottom: @margin / 2;
    }
    .vk {
        font-size: @small-font;
        line-height: 115%;
        display: flex;
        .value {
            font-weight: 500;
            margin-right: 1ch;
            width: 13ch;
            text-align: right;
            flex-shrink: 0;
        }
    }

    // BTN RESET override

    .btn-reset {
        height: @roundedW / 2;
        border-radius: @roundedW;
        border: 1px solid #333;
        background-color: @green;
        padding: 0 @margin / 2;
        display: inline-flex;
        align-items: center;
        font-size: @gui-font-size;
        margin: @margin 0;
        color: #000;
        &:before {
            padding: 0;
            padding-right: 5px;
            font-size: @gui-font-size;
            color: #fff;
        }
        &:hover:before {color: #fff;}
        &:hover {color: #fff;}
    }

}

// NO SUN MESSAGE

.sol-no-sol-msg {
    margin-top: @margin * 2;
}
