
// ADJUST AREA

.area {

    .area-select {
        position: relative;

        .select-item {
            position: absolute;
            background-size: @roundedW / 5 * 3;
            background-image: url("../../../asset/svg/solarpanel.svg");
            background-position: calc(~"100% - @{margin}");
            &:first-child { background-position: center;}

            &.selected {
                border: 2px solid #fff !important;
                background-color: @green;
            }

            &.over{
                background-color: @yellow;
                &:hover {background-color: @green;}
                &:last-of-type {
                    border: 1px solid #333 !important;
                }
            }

            &.unreachable {
                background-image: none;
                background-color: #fff;
                &:hover {
                    border: 0px;
                    background-color: transparent;
                }
            }


            &:nth-child(1) {width: @roundedW;}
            &:nth-child(2) {width: calc(~"100% / 8 + @{roundedW} / 8 * 7") ;}
            &:nth-child(3) {width: calc(~"100% / 8 * 2 + @{roundedW} / 8 * 6") ;}
            &:nth-child(4) {width: calc(~"100% / 8 * 3 + @{roundedW} / 8 * 5") ;}
            &:nth-child(5) {width: calc(~"100% / 8 * 4 + @{roundedW} / 8 * 4") ;}
            &:nth-child(6) {width: calc(~"100% / 8 * 5 + @{roundedW} / 8 * 3") ;}
            &:nth-child(7) {width: calc(~"100% / 8 * 6 + @{roundedW} / 8 * 2") ;}
            &:nth-child(8) {width: calc(~"100% / 8 * 7 + @{roundedW} / 8 ") ;}
            &:nth-child(9) {width: 100% ;}

            &:nth-child(1) {z-index: 9;}
            &:nth-child(2) {z-index: 8;}
            &:nth-child(3) {z-index: 7;}
            &:nth-child(4) {z-index: 6;}
            &:nth-child(5) {z-index: 5;}
            &:nth-child(6) {z-index: 4;}
            &:nth-child(7) {z-index: 3;}
            &:nth-child(8) {z-index: 2;}
            &:nth-child(9) {z-index: 1;}




        }
    }
}
