
.consumption {
    .adjust-item-header {
        display: flex;
        flex-wrap: nowrap;
        .rank-icon {
            width: 3em;
            height: 1em;
            background-position: center left;
            background-repeat: no-repeat;
            background-size: contain;
            display: none; //hidden by default

            &.active {display: block;}

            &.first     {background-image: url(../../../asset/svg/conso1.svg);}
            &.second    {background-image: url(../../../asset/svg/conso2.svg);}
            &.third     {background-image: url(../../../asset/svg/conso3.svg);}
            &.fourth    {background-image: url(../../../asset/svg/conso4.svg);}
            &.fifth     {background-image: url(../../../asset/svg/conso5.svg);}
            &.sixth     {background-image: url(../../../asset/svg/conso6.svg);}
        }
    }
}



.consumption {
    .rank-legend {
        display: none;
        &.active {
            display: flex;
            align-items: flex-end;
        }

        &:before {
            content: ' ';
            width: 4.5rem;
            height: 1.5rem;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;

        }

        &.first:before     {background-image: url(../../../asset/svg/conso1.svg);}
        &.second:before    {background-image: url(../../../asset/svg/conso2.svg);}
        &.third:before     {background-image: url(../../../asset/svg/conso3.svg);}
        &.fourth:before    {background-image: url(../../../asset/svg/conso4.svg);}
        &.fifth:before     {background-image: url(../../../asset/svg/conso5.svg);}
        &.sixth:before     {background-image: url(../../../asset/svg/conso6.svg);}
    }
}

.consumption-select .select-item {
    background-image: url(../../../asset/svg/electricity.svg);
    // &.active {background-image: url(../../../asset/svg/electricityW.svg);}

    &.first {background-size: @roundedW / 5 * 1 ;}
    &.second{background-size: @roundedW / 5 * 1.5 ;}
    &.third {background-size: @roundedW / 5 * 2 ;}
    &.fourth{background-size: @roundedW / 5 * 2.75;}
    &.fifth {background-size: @roundedW / 5 * 3.75 ;}
}

.thermal .consumption-select .select-item {
    background-image: url(../../../asset/svg/waterheating.svg);
    // &.active {background-image: url(../../../asset/svg/waterheatingW.svg);}
}
