.map-wrapper {
    background: url('../imgs/map-trame.png') repeat;
    border-color: @grey;
    border-style: solid;


    &.extract {border-style: dotted ;}

    .map {
        height: 100%;
        width: 100%;
        border-width: 1px;
        border-style: inherit;
        border-color: inherit;
    }

    .map-mode{
        .absolute(@small-margin, auto, auto, @small-margin);
        padding:@small-margin;
        min-width:12px;
        min-height:12px;
        background-color: white;
    }

    .control-box {
        .absolute(initial, 0, 0, initial);
        background: #fff;
        padding: @small-margin;
        padding-right: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-color: @white;
        border-width: inherit;
        border-style: inherit;
        border-top-color: inherit;
        border-left-color: inherit;

        > div {
            margin-bottom: @small-margin;
            width: 1em;
            position: relative;

            & button {
                font-family: @gui-font;
                background-color: @white;
                border: 0px;
                font-size: 10px;

                &:before {.awsomefont}
                &:hover {color: @green;}
                &:focus {outline: none;}
            }

            &:last-child {
                margin-bottom: @small-margin * 2;
            }
        }
    }

    .rotate {
        height: 1.2em;

        button {
            .absolute(0,0,0,0);

            .north-arrow {
                .absolute(0,0,0,0);
                background-image: url('../imgs/north-arrow.svg');
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
    }

    .fullscreen {
        display: flex;
        justify-content: center;

        button {
            flex: 1;
            &.fullscreen-false:before {content: @fa-var-expand;}
            &.fullscreen-true:before {content: @fa-var-compress;}
        }
    }

    .zoom {
        display: flex;
        align-items: center;
        flex-direction: column;

        button {
            padding: 2px 5px;
            height: 1em;
            flex: 1;

            &.zoom-in:before {content: @fa-var-plus;}
            &.zoom-out {
                margin-top: @small-margin !important;
                margin-bottom: 0px !important;
                &:before {content: @fa-var-minus;}
            }
        }
    }

    .map-scale {
        .absolute(initial, calc(~"1em + @{small-margin} + 1px"), 0, initial);
        padding: @small-margin;
        padding-right: 0;
        padding-bottom: 0;
        background-color: @white;
        border-color: @white;
        border-width: 1px;
        border-style: inherit;
        border-top-color: inherit;
        border-left-color: inherit;
        display: flex;
        align-items: flex-end;

        .map-scale-label {
            font-size: 7pt;
            padding-right: @small-margin;
        }
        .map-scale-line {
            flex: 1;
            display: flex;
            align-items: flex-end;
            border: 1px solid #000;
            border-top: 0px;
            height: 6px;

            > div {
                // width: 50%;
            }
            .quarter{
                flex: 1;
                height: 33%;
                &:first-child {border-right: 1px solid #000;}
            }
            .half {
                flex: 2;
                height: 66%;
                border-left: 1px solid #000;
            }
        }
    }
}
