.map-wrapper {
    background: url('../imgs/map-trame.png') repeat;

    .map {
        height: 100%;
        width: 100%;
    }

    .map-mode{
        .absolute(@small-margin, auto, auto, @small-margin);
        padding:@small-margin;
        min-width:12px;
        min-height:12px;
        background-color: white;
    }

    .rotate {
        .absolute(auto, @small-margin, 110px, auto);

        button {
            background-color: transparent;
            border: 0px;
            font-size: 12pt;
            width: 2em;
            height: 2em;
            position: relative;

            &:focus {
                outline: none;
            }

            .north-arrow {
                .absolute(0,0,0,0);
                background-image: url('../imgs/north-arrow.svg');
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
    }

    .zoom {
        .absolute(auto, @small-margin, 30px, auto);
        display: flex;
        justify-content: center;
        flex-direction: column;

        button {
            font-family: @gui-font;
            background-color: @white;
            border: 1px solid @grey;
            margin: 2px 0;
            font-size: 12pt;
            font-weight: bold;
            width: 2em;
            height: 2em;

            &.zoom-in {
                &:before {
                    .awsomefont;
                    content: @fa-var-plus;
                }
            }
            &.zoom-out {
                &:before {
                    .awsomefont;
                    content: @fa-var-minus;
                }
            }

            &:hover {
                color: @white;
                background-color: @green;
                border: 1px solid @green;
            }

            &:focus {
                outline: none;
            }
        }
    }

    .map-scale {
        .absolute(initial, @small-margin, @small-margin, initial);
        border:1px solid #000;

        .map-scale-label {
            .absolute (-6px, -1px, initial, initial);
            font-size: 8pt;
            line-height: 0;
        }
        .map-scale-chess {
            display: flex;
            > div {
                width: 50%;
                height: 6px;
            }
            .white {background: #FFF; height: 3px;}
            .black {background: #000; height: 3px;}
        }
    }
}
