.main {
    bottom: auto;

    div.map-wrapper {
        height: 75%;
    }

    div.legend {
        position: absolute;
        bottom: @small-margin;
        left: @small-margin;
        height: auto;
        min-width: 20%;
        padding: @small-margin * 2;
        background-color: @white;
        border: 1px solid @grey;
        font-size: 80%;

        .legend-item {
            display: flex;
            align-items: center;
            .item-style {
                .legendItemPosition;
            }
        }
    }
}

.map-infos {
    position: absolute;
    bottom: 0;
    height: 25%;
    overflow-y: auto;

    h1 {
        font-size: 150%;
        letter-spacing: -0.5px;

        a {
            text-decoration: none;
            &:hover {
                text-decoration: underline;
                color: @black;
            }
        }
    }

    .map-date {
        font-size: 80%;
        display: flex;

        .map-date-label:after {
            content: "\00a0";
        }
    }
}
