.detail {
    .content {
        overflow-y: auto;
        overflow-x: hidden;
        right: calc(~"30% - 30px") !important; //override base value to hide scrollbar under sidebar
        padding-right: 30px;  // trick to hide scrollbar
    }
    .sidebar {
        overflow-y: auto;
        overflow-x: hidden;
        background-color: #fff;

        .summary {
            padding-bottom: @margin;
            border-bottom: 1px solid #000;
            margin-bottom: @margin;
        }
    }
}
//
// .detail .context .illu {
//     transform: scale(0.5);
//     margin: auto;
//     margin-bottom: -4vw;
//     margin-top: -6vw;
// }

.calculator {
    margin-top: @margin;
    padding: @margin 0;

    .context {
        padding-bottom: @margin;
        margin-bottom: @margin;
    }
}

.adjust-item {
    font-size: @medium-font;
    border-top: 1px solid #000;
    padding-bottom: @margin * 2;
    &-title {
        font-size: @big-font;
        margin: @margin * 2 0;
    }

    &-widget {
        display: flex;
        justify-content: space-between;
    }
}

.adjust-item.calculator-header {
    display: flex;
    align-items: center;

    .calculator-title {
        font-size: @big-font;
        font-weight: 700;
        margin-right: @margin;
    }
}


// ADJUST OBSTACLES

.obstacle-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: flex-start;
    .obstacle-icon{
        width: 4vw;
        height: 4vw;
        border-radius: 3vw;
        border: 1px solid #000;
        background-color: @yellow;
        margin-bottom: @margin / 2;
    }
    .obstacle-label {
        font-size: @small-font;
    }
}


// ADJUST CONSUMPTION

.consumption {
    .consumption-select {
        height: calc(~"4vw + 2px");
        width : 50%; // to do better
        background-color: @yellow;
        border: 1px solid #000;
        border-radius: 4vw;
        display: flex;
        justify-content: space-between;

        .select-item {
            width: 4vw;
            height: 4vw;
            border-radius: 4vw;
            // border: 1px solid #000;
            // background-color: @green;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {background-color: @green;}

            &::before {
                .awsomefont;
                content: @fa-var-bolt;
                color: #fff;
            }

            &.first{font-size: 4vw / 5 * 1.25 ;}
            &.second{font-size: 4vw / 5 * 1.75 ;}
            &.third{font-size: 4vw / 5 * 2.5 ;}
            &.fourth{font-size: 4vw / 5 * 3.25;}
            &.fifth{font-size: 4vw / 5 * 4 ;}


        }
    }

    .adjust-item-widget {
        align-items: center;
    }
}



// ADJUST INSTALLATION

.installation {
    .adjust-item-widget {
        flex-wrap: wrap;
        justify-content: flex-start;

        > div {margin-right: @margin;}

        .switch-wrapper {
            width: 100%;
            display: flex;
            margin-top: @margin;

            .switch-title {margin-right: 1em}
        }
    }
}

// ADJUST AUTOPRODUCTION

.autoproduction {
    .checkbox {
        margin-bottom: @margin;
    }
    .wrapper-dble-checkbox {
        display: flex;
        .checkbox {margin-left: @margin;}
    }
}

// ADJUST FINANCE

.finance {
    .vat-wrapper {
        display: flex;
        margin-top: @margin;

        > div {margin-right: @margin;}
    }
}
