.detail {

    .solar-main-and-right-sidebar {
        display: flex;
        flex-wrap: wrap;
        margin: 0 @margin;
        overflow-y: auto;
    }
    .content {
        width: calc(~"@{contextW} + @{margin}");
        // margin-right: @margin;
        // overflow-y: auto;
        // overflow-x: hidden;
        // padding-right: 30px;  // trick to hide scrollbar
        padding-right: 15px;
        padding-top: 0 !important; //override
        border: 0px !important; //override

        .context {
            padding-top: 2 * @margin; // trick to hide scrollbar
            border-top: 1px solid #000; // trick to hide scrollbar
        }
    }
    .sidebar {
        background-color: #fff;
        width: @sidebarW;

        .summary {
            padding-bottom: @margin;
            border-bottom: 1px solid #000;
            margin-bottom: @margin;
        }
    }
}


.calculator {
    margin-top: @margin;
    padding: @margin 0;

    .context {
        padding-bottom: @margin;
        margin-bottom: @margin;
    }
}

.adjust-item {
    font-size: @medium-font;
    border-top: 1px solid #000;
    padding-bottom: @margin * 2;
    &-title {
        font-size: @big-font;
        margin: @margin * 2 0;
        display: flex;
    }

    &-widget {
        display: flex;
        justify-content: space-between;
    }

    &-note {
        font-size: @small-font;
        margin-top: @margin * 2;
    }
}

// HEADER

.adjust-item.calculator-header {
    display: flex;
    align-items: center;
    padding-top: @margin * 2;

    .calculator-title {
        font-size: @big-font;
        font-weight: 700;
        margin-right: @margin;
        height: 4vw;
        display: flex;
        align-items: center;
        margin-top: -.25em;
    }

    .input-box {
        height: 4vw;
        align-items: center;
        input {
            margin: 0 !important;
        }
    }
}


//  ICONS

.adjust-picto-wrapper {
    display: flex;
    align-items:center;
    margin-bottom: 15px;
}

.adjust-picto {
    width: 2em;
    height: 2em;
    margin-right: @margin / 2;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    &.reduce    {background-image: url("../../asset/svg/reduce.svg");}
    &.day       {background-image: url("../../asset/svg/day.svg");}
    &.battery   {background-image: url("../../asset/svg/battery.svg");}
    &.heat      {background-image: url("../../asset/svg/waterheating.svg");}
    &.panel     {background-image: url("../../asset/svg/solarpanel.svg");}
    &.gain      {background-image: url("../../asset/svg/gain.svg");}
    &.spend     {background-image: url("../../asset/svg/spend.svg");}
}



// ADJUST OBSTACLES

.obstacle {
    .adjust-item-widget {
        width: 89%;
        margin: auto;
    }
}

.obstacle-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: flex-start;
    max-width: calc(~"5vw + 2px");
    height: 12vw;

    .obstacle-icon{
        .shadow-border;
        position: relative;
        width: 5vw;
        height: 5vw;
        border-radius: 3vw;
        background-color: @yellow;
        margin-bottom: @margin / 2;

        &.active {
            background-color: @green;
            &::after {
                .absolute(0,0,auto, auto);
                content: ' ';
                width: 1.5vw;
                height: 1.5vw;
                background-image: url("../../asset/svg/check.svg");
                background-position: center;
                background-repeat: no-repeat;
            }
        }
    }

    .obstacle-label {
        font-size: @small-font;
    }

    .obstacle-input {
        display: flex;
        align-items: center;
        width: 100%;
        font-size: @small-font;
        margin-top: auto; //put the element at the bottom of the flex column

        &.single {justify-content: space-around;}

        .obstacle-input-value {
            font-size: @medium-font;
            width: 2em;
        }

        .obstacle-input-minus,
        .obstacle-input-plus {
            .awsomefont;
            width: 1.5em;
            height: 1.5em;
            display: flex;
            align-items: center;
            justify-content: space-around;

            &:hover {
                color: @green;
            }
        }
        .obstacle-input-minus:before {
            content: @fa-var-minus;
        }
        .obstacle-input-plus:before {
            content: @fa-var-plus;
        }

    }
}

.obstacle-icon {
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;

    &.icon-velux {
        background-image: url("../../asset/svg/velux.svg");
        &.active {background-image: url("../../asset/svg/veluxW.svg");}
    }
    &.icon-dormer {
        background-image: url("../../asset/svg/dormer.svg");
        &.active {background-image: url("../../asset/svg/dormerW.svg");}
    }
    &.icon-window {
        background-image: url("../../asset/svg/flatwindow.svg");
        &.active {background-image: url("../../asset/svg/flatwindowW.svg");}
    }
    &.icon-panel {
        background-image: url("../../asset/svg/solarpanel.svg");
        &.active {background-image: url("../../asset/svg/solarpanelW.svg");}
    }
    &.icon-cheminey-air {
        background-image: url("../../asset/svg/cheminey-air.svg");
        &.active, &:hover {background-image: url("../../asset/svg/cheminey-airW.svg");}
    }
    &.icon-cheminey-smoke {
        background-image: url("../../asset/svg/cheminey-smoke.svg");
        &.active {background-image: url("../../asset/svg/cheminey-smokeW.svg");}
    }
    &.icon-terrace {
        background-image: url("../../asset/svg/terrace.svg");
        &.active {background-image: url("../../asset/svg/terraceW.svg");}
    }
    &.icon-lift {
        background-image: url("../../asset/svg/lift.svg");
        &.active {background-image: url("../../asset/svg/liftW.svg");}
    }
}

.obstacle-graphic {
    display: flex;

    .obstacle-graphic-item {
        display: flex;
    }
    .obstacle-icon {
        width: 2em;
        height: 1.2em;
        margin-right: -0.7em;
        margin-top: -.1em;
    }
}





// ADJUST CONSUMPTION & AUTOPRODUCTION

.consumption {
    .adjust-item-title {
        display: flex;
        flex-wrap: nowrap;;
        .rank-icon {
            width: 3em;
            height: 1em;
            margin-left: 0.5em;
            background-position: center left;
            background-repeat: no-repeat;
            background-size: contain;
            display: none; //hidden by default

            &.active {display: block;}

            &.first     {background-image: url(../../asset/svg/conso1.svg);}
            &.second    {background-image: url(../../asset/svg/conso2.svg);}
            &.third     {background-image: url(../../asset/svg/conso3.svg);}
            &.fourth    {background-image: url(../../asset/svg/conso4.svg);}
            &.fifth     {background-image: url(../../asset/svg/conso5.svg);}
        }
    }
}

.consumption-select,
.autoproduction-select {
    .shadow-border;
    height: calc(~"4vw");
    width : 50%; // to do better
    background-color: @yellow;
    border-radius: 4vw;
    display: flex;
    justify-content: space-between;

    .select-item {
        box-shadow: 0 0 1px transparent;
        width: 4vw;
        height: 4vw;
        border-radius: 4vw;
        background-position: center;
        background-repeat: no-repeat;

        &:hover,
        &.active {
            .shadow-border;
            margin: 0;
            background-color: @green;
        }
    }

    .adjust-item-widget {
        align-items: center;
    }
}

.consumption {
    .rank-note {
        display: none;
        &.active {display: block;}
    }
}

.consumption-select .select-item {
    background-image: url(../../asset/svg/electricityW.svg);

    &.first{background-size: 4vw / 5 * 1 ;}
    &.second{background-size: 4vw / 5 * 1.5 ;}
    &.third{background-size: 4vw / 5 * 2 ;}
    &.fourth{background-size: 4vw / 5 * 2.75;}
    &.fifth{background-size: 4vw / 5 * 3.75 ;}
}

.autoproduction-select .select-item {
    background-image: url(../../asset/svg/solarenergyW.svg);

    &.first{background-size: 4vw / 5 * 1.75 ;}
    &.second{background-size: 4vw / 5 * 2.5 ;}
    &.third{background-size: 4vw / 5 * 3.25 ;}
    &.fourth{background-size: 4vw / 5 * 4;}
}



// ADJUST INSTALLATION

.installation {

    .adjust-item-title .adjust-picto {
        width: 1.75em;
        height: 1em;
    }
    .adjust-item-widget {
        flex-wrap: wrap;
        justify-content: flex-start;

        > div {margin-right: @margin;}

        .switch-wrapper {
            width: 100%;
            display: flex;

            .switch-title {margin-right: 1em}
        }
    }

    .input-label {
        width: 100%;
        margin-bottom: @margin / 2;
    }
}

// ADJUST AUTOPRODUCTION

.autoproduction {
    .adjust-item-title {
        display: flex;
    }
    .picto-collection {
        height: 1em;
        width: auto;
        display: flex;

        > div {
            width: 1em;
            height: 1em;
            margin-left: 0.5em;
            background-repeat: no-repeat;
            background-position: bottom left;
            background-size: contain;
            display: none;

            &.active {display: block;}

            &.reduce    {background-image: url("../../asset/svg/reduce.svg");}
            &.day       {background-image: url("../../asset/svg/day.svg");}
            &.battery   {background-image: url("../../asset/svg/battery.svg");}
        }
    }
    .adjust-item-note div {
        display: none;
        &.active {display: block;}
    }

}

// ADJUST FINANCE

.finance {
    .cost,
    .gain {
        display: flex;
    }
    .cost {
        margin-bottom: @margin * 2;
    }

    .vat-installation {
        text-align: center;
        .wrapper-multi-checkbox {
            border: 1px solid transparent; //to get same height as input
            padding: .4em;
            margin-bottom: @margin / 2;
            .wrapper-checkbox {
                margin: 0;
                margin-right: 1em;
                &:last-child{margin-right: 0;}
            }
        }
    }
}

// LOAN

.loan {
    .inputs {
        display: flex;
        justify-content: space-around;
    }
}


//ACTIONS

.actions {
    border-top: 1px solid #000;
    justify-content: space-around;
    padding-top: 2 * @margin;
    padding-bottom: 4*@margin;
}
