.detail {
    .content {
        overflow-y: auto;
        overflow-x: hidden;
        right: calc(~"30% - 30px") !important; //override base value to hide scrollbar under sidebar
        padding-right: 30px;  // trick to hide scrollbar
    }
    .sidebar {
        overflow-y: auto;
        overflow-x: hidden;
        background-color: #fff;

        .summary {
            padding-bottom: @margin;
            border-bottom: 1px solid #000;
            margin-bottom: @margin;
        }
    }
}
//
// .detail .context .illu {
//     transform: scale(0.5);
//     margin: auto;
//     margin-bottom: -4vw;
//     margin-top: -6vw;
// }

.calculator {
    margin-top: @margin;
    padding: @margin 0;

    .context {
        padding-bottom: @margin;
        margin-bottom: @margin;
    }
}

.adjust-item {
    font-size: @medium-font;
    border-top: 1px solid #000;
    padding-bottom: @margin * 2;
    &-title {
        font-size: @big-font;
        margin: @margin * 2 0;
    }

    &-widget {
        display: flex;
        justify-content: space-between;
    }
}

.adjust-item.calculator-header {
    display: flex;
    align-items: center;

    .calculator-title {
        font-size: @big-font;
        font-weight: 700;
        margin-right: @margin;
    }
}


// ADJUST OBSTACLES

.obstacle-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: flex-start;
    max-width: calc(~"5vw + 2px");
    height: 12vw;

    .obstacle-icon{
        .shadow-border;
        position: relative;
        width: 5vw;
        height: 5vw;
        border-radius: 3vw;
        background-color: @yellow;
        margin-bottom: @margin / 2;

        &.active {
            background-color: @green;
            &::after {
                .absolute(0,0,auto, auto);
                content: ' ';
                width: 1.5vw;
                height: 1.5vw;
                background-image: url("../../asset/svg/check.svg");
                background-position: center;
                background-repeat: no-repeat;
            }
        }
        &:hover {
            background-color: @green;
        }
    }

    .obstacle-label {
        font-size: @small-font;
    }

    .obstacle-input {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        font-size: @small-font;
        margin-top: auto; //put the element at the bottom of the flex column

        .obstacle-input-value {
            font-size: @medium-font;
        }

        .obstacle-input-minus,
        .obstacle-input-plus {
            .awsomefont;
            width: 1em;
            height: 1em;
        }
        .obstacle-input-minus:before {
            content: @fa-var-minus;
        }
        .obstacle-input-plus:before {
            content: @fa-var-plus;
        }

    }

    .obstacle-icon {
        background-size: 60%;
        background-position: center;
        background-repeat: no-repeat;
    }

    .icon-velux {
        background-image: url("../../asset/svg/velux.svg");
        &.active, &:hover {background-image: url("../../asset/svg/veluxW.svg");}
    }
    .icon-dormer {
        background-image: url("../../asset/svg/dormer.svg");
        &.active, &:hover {background-image: url("../../asset/svg/dormerW.svg");}
    }
    .icon-window {
        background-image: url("../../asset/svg/flatwindow.svg");
        &.active, &:hover {background-image: url("../../asset/svg/flatwindowW.svg");}
    }
    .icon-panel {
        background-image: url("../../asset/svg/solarpanel.svg");
        &.active, &:hover {background-image: url("../../asset/svg/solarpanelW.svg");}
    }
    .icon-cheminey-air {
        background-image: url("../../asset/svg/cheminey-air.svg");
        &.active, &:hover {background-image: url("../../asset/svg/cheminey-airW.svg");}
    }
    .icon-cheminey-smoke {
        background-image: url("../../asset/svg/cheminey-smoke.svg");
        &.actactive, &:hoverive {background-image: url("../../asset/svg/cheminey-smokeW.svg");}
    }
    .icon-terrace {
        background-image: url("../../asset/svg/terrace.svg");
        &.active, &:hover {background-image: url("../../asset/svg/terraceW.svg");}
    }
    .icon-lift {
        background-image: url("../../asset/svg/lift.svg");
        &.active, &:hover {background-image: url("../../asset/svg/liftW.svg");}
    }
}


// ADJUST CONSUMPTION

.consumption {
    .consumption-select {
        .shadow-border;
        height: calc(~"4vw + 2px");
        width : 50%; // to do better
        background-color: @yellow;
        border-radius: 4vw;
        display: flex;
        justify-content: space-between;

        .select-item {
            width: 4vw;
            height: 4vw;
            border-radius: 4vw;
            // border: 1px solid #000;
            // background-color: @green;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {background-color: @green;}

            &::before {
                .awsomefont;
                content: @fa-var-bolt;
                color: #fff;
            }

            &.first{font-size: 4vw / 5 * 1.25 ;}
            &.second{font-size: 4vw / 5 * 1.75 ;}
            &.third{font-size: 4vw / 5 * 2.5 ;}
            &.fourth{font-size: 4vw / 5 * 3.25;}
            &.fifth{font-size: 4vw / 5 * 4 ;}


        }
    }

    .adjust-item-widget {
        align-items: center;
    }
}



// ADJUST INSTALLATION

.installation {
    .adjust-item-widget {
        flex-wrap: wrap;
        justify-content: flex-start;

        > div {margin-right: @margin;}

        .switch-wrapper {
            width: 100%;
            display: flex;
            margin-top: @margin;

            .switch-title {margin-right: 1em}
        }
    }
}

// ADJUST AUTOPRODUCTION

.autoproduction {
    .checkbox {
        margin-bottom: @margin;
    }
    .wrapper-dble-checkbox {
        display: flex;
        .checkbox {margin-left: @margin;}
    }
}

// ADJUST FINANCE

.finance {
    .vat-wrapper {
        display: flex;
        margin-top: @margin;

        > div {margin-right: @margin;}
    }
}
