@big-font: 2.5vw;
@medium-font:1.75vw;
@small-font: 1.2vw;

@contextW : 70vw;
@sidebarW : calc(~"100vw - @{contextW} - @{margin} * 4");
@illuW : calc(~"(70vw - 2 * @{margin}) / 3");


// .wrapper-illu .illu {background: pink;} //debug
// .context {background: orange;} //debug
// .sidebar {background: yellow;} //debug
// .summary {background: yellow;} //debug


.shadow-border {
    box-shadow: 0 0 1px #000, 0 0 1px #000, 0 0 1px #000, 0 0 1px #000;
    margin: 0 1px;
}









.locate,
.preview,
.detail {
    font-weight: 100;
}

h1 {
    font-size: @big-font;
    font-weight: 100; // override GEODATA default value
}


.input-box {
    display: flex;
    align-items: flex-end;

    input {
        width: 4em;
        margin-bottom: -0.5em;
        margin-top: 0.7em;
    }

    .input-label {
        margin-right: @margin / 2;
    }

    .unit {padding-left: 1ch;}
}

.input-box-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    width : 8em;
    text-align: center;

    .input-and-unit {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;

        .unit {padding-left: 0.5ch;}
    }

    input {
        width: 4em;
        margin-bottom: @margin / 2;
    }
}

input[type="number"] {
    text-align: right;
}


.toggle {
    display: flex;
    cursor: default;

    .value.inactive {
        color: @light-grey;
    }

    .toggle-icon {
        .awsomefont;
        height: 1em;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 0.5em;

        &:before {
            content: @fa-var-toggle-on;
            transform: rotate(180deg);
        }
        &.active:before {
            transform: rotate(0deg);
        }
    }
}



.wrapper-multi-checkbox {
    display: flex;
    .multi-checkbox-label {
        margin-right: 0.5em;
    }
}

.wrapper-checkbox {
    display: flex;
    cursor: default;
    margin-bottom: @margin / 2;

    .checkbox {
        .awsomefont;
        position: relative;
        font-size: 1em;
        width : 1em;
        height: 1em;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 0.3em;

        &:before {
            .absolute(0,0,0,0);
            content: @fa-var-circle-thin;
            width : 1em;
            height: 1em;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &:hover .checkbox:after,
    .checkbox.active:after {
        .absolute(0,0,0,0);
        content: @fa-var-circle;
        color: @green;
        font-size: 0.5em;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}




.content {
    border-top: 1px solid #000;
    padding-top: @margin;
}

.sidebar  {
    border-top: 1px solid #000;
    padding-top: @margin;

    & *{
        .word-wrap;
    }
}
