@big-font: 2.5vw;
@medium-font:1.75vw;
@small-font: 1.2vw;

.locate,
.preview,
.detail {
    font-weight: 100;
}

h1 {
    font-size: @big-font;
    font-weight: 100; // override GEODATA default value
}


.input-box {
    display: flex;
    align-items: flex-end;

    input {
        width: 4em;
        margin-bottom: -0.5em;
        margin-top: 0.7em;
    }

    .input-label {
        margin-right: @margin / 2;
    }
}



.toggle {
    display: flex;
    cursor: default;

    .value.inactive {
        color: @light-grey;
    }

    .toggle-icon {
        .awsomefont;
        height: 1em;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 0.5em;

        &:before {
            content: @fa-var-toggle-on;
            transform: rotate(0deg);
        }
        &.active:before {
            transform: rotate(180deg);
        }
    }
}



.wrapper-checkbox {
    display: flex;
    cursor: default;

    .checkbox {
        .awsomefont;
        position: relative;
        font-size: 1em;
        width : 1em;
        height: 1em;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 0.3em;

        &:before {
            .absolute(0,0,0,0);
            content: @fa-var-circle-thin;
            width : 1em;
            height: 1em;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &:hover .checkbox:after,
    .checkbox.active:after {
        .absolute(0,0,0,0);
        content: @fa-var-circle;
        color: @green;
        font-size: 0.5em;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


.content {
    border-top: 1px solid #000;
    padding-top: @margin;
    margin-top: @margin;
}

.sidebar  {
    border-top: 1px solid #000;
    padding-top: @margin;
    margin-top: @margin;

    & *{
        .word-wrap;
    }
}
