@illuRadius : @illuW;

.context {
    padding-top: @margin;
    display: flex;
    justify-content: space-between;
}

.wrapper-illu {
    width: calc(~"(100% - 2 * @{margin}) / 3");

    .illu {
        position: relative;
        width: @illuRadius;
        height: @illuRadius;
        margin-bottom: @margin * 2;

        .circle-wrapper {
            .shadow-border;
            position: relative;
            border-radius: @illuRadius;
            width: @illuRadius;
            height: @illuRadius;
            overflow: hidden;

            > div {
                width : 100%;
                height: 100%;
            }

            img {width: 100%;}
        }
    }

    .illu-text, .barchart {
        font-size: @small-font;
        text-align: center;
    }

    .illu-text.back-to-map {
        cursor: default;
        &::before {
            .awsomefont;
            content: @fa-var-long-arrow-left;
            width: 100%;
            height: 1em;
            margin-bottom: @margin / 2;
        }

        &:hover {color: @green;}
    }
}

.wrapper-loader {
    width: calc(~"(100% - 2 * @{margin}) / 3");

    .loading-label {
        margin-top: 100px;
        font-size: 140%;
        text-align: center;
    }

    &.even {
        text-decoration-line: underline;
    }
}


.illu.plan .map-wrapper {
    .control-box {
        display: none;
    }
}










.map-pin.top {
    height: calc(~"50% + .75rem");
    width: 100%;
    position: absolute;
    bottom: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pin-head {
    background: #000;
    font-size: 100%;
    font-weight: 700;
    color: #fff;
    padding: .15rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.numnum-1 .pin-head{
    border-radius: 2ch;
    width: 2ch;
    height: 2ch;

}
.numnum-2 .pin-head{
    border-radius: 3ch;
    width: 3ch;
    height: 3ch;
}
.numnum-3 .pin-head{
    border-radius: 4ch;
    width: 4ch;
    height: 4ch;
}
.numnum-4 .pin-head{
    border-radius: 5ch;
    width: 5ch;
    height: 5ch;
}

.pin-end {
    width: 3px;
    height: 3px;
    background: #000;
    border: 1px solid #000;
    border-radius: 5px;
}
.pin-body {
    height: calc(~"100% - 1.3rem - 4px/2");
    width : 1px;
    background-color: #000;
}




.barchart {
    height: 30px;
    border: 1px solid #000;
    display: flex;

    > div {
        height: 100%;
        display: flex;
        text-align: center;
        align-items: center;
    }

    .great{
        background-color: @green;
        color: #fff;
        border-right: 1px solid #000;
    }
    .good{
        background-color: @yellow;
        color:#000;
    }
    .unusable{
        background-color: @blue;
        color: #fff;
        border-left: 1px solid #000;
    }
}
