
.main-splitted-height {
    display: flex;
    flex-direction: column;
    margin: 0 @margin;
    height: auto;
    overflow-y: auto;
    .upper-part {
        display: flex;
        flex-wrap: wrap;

        .context, .summary {
            border-top: 1px solid #000;
            border-bottom: 1px solid #000;
        }

        .context {
            width: @contextW;
            margin-right: @margin;
            padding: @margin*2 0;
        }
        .summary {
            padding: @margin 0;
            width: @sidebarW;
        }
    }
}
