
.main-splitted-height {
    margin: 0 @margin;
    overflow-y: auto;
    .upper-part {
        display: flex;
        // flex-wrap: wrap;

        .context, .summary {
            border-top: 1px solid #000;
            border-bottom: 1px solid #000;
        }

        .context {
            width: @contextW;
            flex-shrink: 0;
            margin-right: @margin;
            padding: @margin*2 0;
        }
        .summary {
            padding: @margin 0;
            width: @sidebarW;
        }
    }
}

.main-loader {
    .absolute(0,@margin,0,@margin);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;

    H1 {
        text-align: center;}

    .context {
        width: @contextW;
        margin: auto;
        padding: @margin*2 0;
    }

    .loading-msg {
        text-align: center;
        font-size: @big-font;
        font-weight: 700;
        color: @green;
    }
}
