
.summary {
    .switch-thermal {
        .absolute(-@margin * 2, auto, auto, 0);
        font-size: 0.8rem;
    }
    .potential-rank {
        margin-top: @margin;
        .this-building {
            font-size: @small-font;
        }
        .potential-rank-value {
            font-size: @big-font;
            font-weight: 700;
            color: @green;
        }
    }

    .potential-values {
        margin-top: @margin;
        margin-bottom: @margin;
        .vk {
            font-size: @medium-font;
            .value {
                font-weight: 700;
                width: 100%;
                display: block;
            }

            &:before {
                content: ' ';
                display: block;
                width: 1em;
                height: 1em;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }

            &.buying-price:before {background-image: url(../../asset/svg/paper-money.svg);}
            &.green-cert:before {background-image: url(../../asset/svg/paper-green.svg);}
            &.gain-elec:before {background-image: url(../../asset/svg/paper-elec.svg);}
            &.gain-env:before {background-image: url(../../asset/svg/paper-env.svg);}
        }
        .note {
            font-size: @small-font;
        }
    }

    .summary-area .vk {
        font-size: @small-font;
        .value {margin-right: 1ch;}
    }
}

.summary-detailled {
    &-title {
        font-size: @big-font;
        font-weight: 700;
        margin-bottom: @margin;
    }
    h2{
        font-size: @medium-font;
        font-weight: 700;
        margin-top: @margin;
        margin-bottom: @margin / 2;
    }
    .vk {
        font-size: @small-font;
        .value {
            font-weight: 500;
            margin-right: 1ch;
        }
    }
}
